body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: inline-block;
    width: 1500px;
    margin-left: calc(50% - 750px);
    margin-top: 0.625em;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2.5em;
    width: 1.5em;
    line-height: 1.5em; 
    margin-left: 5%;
    background-color: blueviolet;
    text-align: center;
    border-radius: 0.5em;
    color: #fff;
    text-decoration: none;
}
.logo:hover{
    background-color: #000;   
}
.menu{
    line-height: 1em;
    margin-right: 3em;
    user-select: none;
}
.menu-item{
    display: inline-block;
    margin-left: 3em;
    text-transform: uppercase;
    line-height: 1em;
    color: #000;
    text-decoration: none;
}
.menu-item:hover{
    text-decoration: underline;
    color: blueviolet;
}
.menu-item:first-child:hover{
    text-decoration: none;
}
.menu-item:first-child::after{
    display: block;
    content: '';
    width: 3.5em;
    height: 0.1875em;
    border-radius: 0.3125em;
    margin-left: -0.1875em;
    background-color: blueviolet;
}
.menu-item:first-child::before{
    display: block;
    content: '';
    height: 0.1875em;
    background-color: transparent;
}
.left-column{
    float: left;
    width: 55%;
    margin-top: 3em;
    position: relative;
    user-select: none;
}
.left-column > img{
    width: 100%;
    float: left;
}
.line{
    position: absolute;
    width: 5em;
    height: 0.25em;
    background-color: #402D57;
    bottom: 0;
    right: -5em;
}
.right-column{
    float: left;
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: flex-start;
    gap: 1em;
}

.description{
    font-size:0.875em;
}
.button{
    color: white;
    background-color: blueviolet;
    display: inline-block;
    border-radius: 2em;
    text-transform: uppercase;
    padding: 1em 4em;
    text-decoration: none;
    user-select: none;
}
.button:hover{
    background-color: #000;
}

@media (max-width: 1500px) {
    .container{
        width: 1000px;
        margin-left: calc(50% - 500px);
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .container{
        width: 800px;
        margin-left: calc(50% - 400px);
        font-size: 12.8px;
    }
}

@media (max-width: 800px) {
    .container{
        width: 500px;
        margin-left: calc(50% - 250px);
        font-size: 8px;
    }
}

@media (max-width: 500px) {
    .container{
        width: 100%;
        margin-left: 0;
    }
}